[includeIf "gitdir:~"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/Work/"]
  	path = .gitconfig-work
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
